{% extends 'base2.html' %}

{% block content %}
<section>
    <h1 class="heading">Mentions légales</h1>
    <div class="mentions_politique_text">
        <h2>Éditeur du Site :</h2>
        <span>Garage Vincent Parrot</span> 
        <span>Adresse : 1 rue de toulouse Toulouse, France</span>
        
        <h2>Responsable de la Publication :</h2>
        <span>Vincent Parrot</span>
        
        <h2>Coordonnées :</h2>
        <span>Téléphone : 06.00.00.00.00,
        E-mail : vincentparrot@gmail.com</span>
        
        <h2>Hébergement du Site :</h2>
        <span>Le site est hébergé par à l'adresse .</span>
        
        <h2>Webmaster :</h2>
        <span>Le webmaster du site est S-DEV. Vous pouvez le contacter à l'adresse e-mail suivante :</span>
        
        <h2>Propriété Intellectuelle :</h2>
        <span>Le contenu de ce site, y compris les textes, images, logos, est la propriété exclusive du Garage Vincent Parrot, sauf indication contraire. Toute reproduction, distribution, modification ou utilisation du contenu sans autorisation écrite préalable est strictement interdite.</span>
        
        <h2>Données Personnelles :</h2>
        <span>Le Garage Vincent Parrot s'engage à protéger vos données personnelles. Les informations collectées via le site ne seront utilisées que dans le cadre prévu par la législation en vigueur et dans le but de vous fournir les services demandés. Pour plus d'informations sur notre politique de confidentialité, veuillez consulter notre page dédiée à la vie privée.</span>
        
        <h2>Cookies :</h2>
        <span>Ce site peut utiliser des cookies pour améliorer votre expérience de navigation. En continuant à utiliser ce site, vous consentez à l'utilisation de ces cookies conformément à notre politique en matière de cookies.</span>
        
        <h2>Liens Externes :</h2>
        <span>Le Garage Vincent Parrot décline toute responsabilité quant au contenu des sites externes pouvant être accessibles via des liens présents sur ce site.</span>
        
        <h2>Modification des Mentions Légales :</h2>
        <span>Le Garage Vincent Parrot se réserve le droit de modifier les présentes mentions légales à tout moment. Les utilisateurs du site sont invités à les consulter régulièrement.</span>
        
        <h2>Droit Applicable :</h2>
        <span>Les présentes mentions légales sont soumises au droit français. En cas de litige, les tribunaux compétents seront ceux de Toulouse.</span>
        <span>Nous vous remercions de votre visite sur le site du Garage Vincent Parrot. Pour toute question ou information complémentaire, veuillez nous contacter aux coordonnées indiquées ci-dessus.</span>
    </div>
</section>
{% endblock %}