{% extends 'base2.html' %}

{% block content %}
<section>
    <h1 class="heading">Politique de confidentialité</h1>
    <div class="mentions_politique_text">
        <span>La protection de vos données personnelles est une priorité pour le Garage Vincent Parrot. Cette Politique de Confidentialité a pour objectif de vous informer sur la manière dont nous collectons, utilisons, partageons et protégeons vos données.</span>
        
        <h2>Collecte des Données :</h2>
        <span>Lorsque vous naviguez sur notre site, nous pouvons collecter certaines informations automatiquement, telles que votre adresse IP, le type de navigateur, le temps de visite, les pages consultées, etc. Ces données sont collectées de manière anonyme et agrégée pour améliorer l'expérience utilisateur et comprendre les tendances d'utilisation.</span>
        <span>Si vous choisissez de nous fournir des informations personnelles, comme votre nom, adresse e-mail, numéro de téléphone, etc., nous les utiliserons uniquement dans le but spécifié au moment de la collecte.</span>
        
        <h2>Utilisation des Données :</h2>
        <span>Les données que nous collectons sont utilisées pour fournir les services demandés, personnaliser votre expérience sur notre site, répondre à vos demandes, et vous informer sur nos produits, promotions ou événements, si vous avez donné votre consentement.</span>
        
        <h2>Partage des Données :</h2>
        <span>Nous ne partageons pas vos données personnelles avec des tiers sans votre consentement, sauf si requis par la loi. Nous pouvons partager des informations agrégées et anonymisées à des fins statistiques.</span>
        
        <h2>Cookies :</h2>
        <span>Nous utilisons des cookies pour améliorer votre expérience sur notre site. Ces cookies peuvent être désactivés dans les paramètres de votre navigateur, mais cela peut affecter la fonctionnalité du site.</span>
        
        <h2>Sécurité des Données :</h2>
        <span>Nous mettons en place des mesures de sécurité appropriées pour protéger vos données contre tout accès non autorisé, altération, divulgation ou destruction.</span>
        
        <h2>Vos Droits :</h2>
        <span>Vous avez le droit de demander l'accès, la rectification, la suppression ou la portabilité de vos données personnelles. Vous pouvez également vous opposer au traitement de vos données dans certaines circonstances. Pour exercer ces droits ou poser des questions sur notre Politique de Confidentialité, veuillez nous contacter à l'adresse e-mail .</span>
        
        <h2>Modifications de la Politique de Confidentialité :</h2>
        <span>Nous nous réservons le droit de mettre à jour cette Politique de Confidentialité à tout moment. Les modifications seront publiées sur cette page, et la date de la dernière mise à jour sera indiquée.</span>
        
        <h2>Contact :</h2>
        <span>Pour toute question ou préoccupation concernant notre Politique de Confidentialité, veuillez contacter S-DEV, le webmaster, à l'adresse e-mail .</span>
        <span>Nous vous remercions de votre confiance en choisissant le Garage Vincent Parrot.</span>
    </div>
</section>
{% endblock %}